:root {
    --blue-1: #e6f4ff;
    --blue-2: #b5dbff;
    --blue-3: #8cc4ff;
    --blue-4: #63a9ff;
    --blue-5: #3b8cff;
    --blue-6: #126bfb;
    --blue-7: #044dd4;
    --blue-8: #0037ad;
    --blue-9: #002687;
    --blue-10: #001861;
    --green-1: #e6fff4;
    --green-2: #aafad9;
    --green-3: #7bedc2;
    --green-4: #51e0ae;
    --green-5: #2ad49e;
    --green-6: #07c790;
    --green-7: #00a178;
    --green-8: #007a60;
    --green-9: #005445;
    --green-10: #002e27;
    --gold-1: #fffcf0;
    --gold-2: #fff6d9;
    --gold-3: #ffeab0;
    --gold-4: #ffdb87;
    --gold-5: #ffc95e;
    --gold-6: #f7b035;
    --gold-7: #d18b21;
    --gold-8: #ab6913;
    --gold-9: #854a08;
    --gold-10: #5e3205;
    --red-1: #fff2f0;
    --red-2: #ffedeb;
    --red-3: #ffc8c2;
    --red-4: #ffa099;
    --red-5: #fc746f;
    --red-6: #ef4444;
    --red-7: #c92e34;
    --red-8: #a31d26;
    --red-9: #7d101b;
    --red-10: #570a15;
    --purple-1: #f9f0ff;
    --purple-2: #efdbff;
    --purple-3: #d3adf7;
    --purple-4: #b37feb;
    --purple-5: #9254de;
    --purple-6: #722ed1;
    --purple-7: #531dab;
    --purple-8: #391085;
    --purple-9: #22075e;
    --purple-10: #120338;
    --cyan-1: #e6fffb;
    --cyan-2: #b5f5ec;
    --cyan-3: #87e8de;
    --cyan-4: #5cdbd3;
    --cyan-5: #36cfc9;
    --cyan-6: #13c2c2;
    --cyan-7: #08979c;
    --cyan-8: #006d75;
    --cyan-9: #00474f;
    --cyan-10: #002329;
    --magenta-1: #fff0f6;
    --magenta-2: #ffd6e7;
    --magenta-3: #ffadd2;
    --magenta-4: #ff85c0;
    --magenta-5: #f759ab;
    --magenta-6: #eb2f96;
    --magenta-7: #c41d7f;
    --magenta-8: #9e1068;
    --magenta-9: #780650;
    --magenta-10: #520339;
    --pink-1: #fff0f6;
    --pink-2: #ffd6e7;
    --pink-3: #ffadd2;
    --pink-4: #ff85c0;
    --pink-5: #f759ab;
    --pink-6: #eb2f96;
    --pink-7: #c41d7f;
    --pink-8: #9e1068;
    --pink-9: #780650;
    --pink-10: #520339;
    --orange-1: #fff7e6;
    --orange-2: #ffe7ba;
    --orange-3: #ffd591;
    --orange-4: #ffc069;
    --orange-5: #ffa940;
    --orange-6: #fa8c16;
    --orange-7: #d46b08;
    --orange-8: #ad4e00;
    --orange-9: #873800;
    --orange-10: #612500;
    --yellow-1: #feffe6;
    --yellow-2: #ffffb8;
    --yellow-3: #fffb8f;
    --yellow-4: #fff566;
    --yellow-5: #ffec3d;
    --yellow-6: #fadb14;
    --yellow-7: #d4b106;
    --yellow-8: #ad8b00;
    --yellow-9: #876800;
    --yellow-10: #614700;
    --volcano-1: #fff2e8;
    --volcano-2: #ffd8bf;
    --volcano-3: #ffbb96;
    --volcano-4: #ff9c6e;
    --volcano-5: #ff7a45;
    --volcano-6: #fa541c;
    --volcano-7: #d4380d;
    --volcano-8: #ad2102;
    --volcano-9: #871400;
    --volcano-10: #610b00;
    --geekblue-1: #f0f5ff;
    --geekblue-2: #d6e4ff;
    --geekblue-3: #adc6ff;
    --geekblue-4: #85a5ff;
    --geekblue-5: #597ef7;
    --geekblue-6: #2f54eb;
    --geekblue-7: #1d39c4;
    --geekblue-8: #10239e;
    --geekblue-9: #061178;
    --geekblue-10: #030852;
    --lime-1: #fcffe6;
    --lime-2: #f4ffb8;
    --lime-3: #eaff8f;
    --lime-4: #d3f261;
    --lime-5: #bae637;
    --lime-6: #a0d911;
    --lime-7: #7cb305;
    --lime-8: #5b8c00;
    --lime-9: #3f6600;
    --lime-10: #254000;
    --blue-6-tint-20: #4189fc;
    --blue-6-fade: 18,107,251;
    --blue-6-tint-50: #89b5fd;
}